language: python
  
matrix:
  include:
    - os: linux
      python: "3.5"
    - os: linux
      python: "3.6"
    - os: osx
      language: generic

install:
  - pip install .
script:
  - echo "skipping tests"
