name: "Tests"

on:
  push:
    branches: [ "master" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "master" ]
  schedule:
    - cron: '20 17 * * 5'

jobs:
  tests:
    name: Test on ${{ matrix.os }} with ${{ matrix.python_version }} and ${{ matrix.compiler }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python_version: ['3.12', '3.13']
        compiler: ['clang', 'gcc-12', 'gcc-14', 'gcc-15', 'clang-15']
        exclude:
          - os: ubuntu-latest
            compiler: 'clang-15'
          - os: ubuntu-latest
            compiler: 'gcc-15'
          - os: macos-latest
            compiler: 'gcc-12'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}
      - name: Install dependencies
        env:
          CC: ${{ matrix.compiler }}
        run: |
          python -m pip install --upgrade pip pytest pytest-asyncio
          pip install -vv -e '.'
        if: matrix.compiler != 'clang-15'
      - name: Install dependencies (clang-15)
        env:
          CC: clang
        run: |
          ln -s $(brew --prefix llvm@15)/bin/clang /usr/local/bin/clang
          python -m pip install --upgrade pip pytest pytest-asyncio
          pip install -vv -e '.'
        if: matrix.compiler == 'clang-15'
      - name: Test with pytest
        run: |
          pytest -vv tests/
